body{
  background-color: 	#ededed;
}

h1{
  color: #007bff;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}

p{
  font-family: "Times New Roman", Times, serif;
  color: #000000;
  font-size: 20px;
}

.big_box{
  padding-right: 15px;
  padding-left: 15px;
}

.comparison_box{
  padding-right: 70px;
  padding-left: 70px;
}

.lat_title{
  font-size: 26px;
  color: #000000;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
}

.navbar_right_side{
  position: relative;
  left: 77%;
  text-align: left;
  z-index: 5;
}

.options_menu{
  font-family: "Times New Roman", Times, serif;
  color: #000000;
  font-size: 17px;
}

.drop_down{
  color: #000000;
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
}

.main_box{
  margin-top: 35px;
  margin-right: 15px;
  padding: 35px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.box_align{
  float: left;
}

.sec_box{
  margin-top: 35px;
  padding: 35px;
} 

.grid_image{
  max-width: 100%;
  max-height: 100%;
}

.in_image{
  max-width: 75%;
  max-height: 75%;
  margin-right: 10px;
}

.in_image_grid{
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 30px;
}

.border_image{
  border: 2px solid #007bff;
}

.comparisons_title{
  margin:auto;
  text-align: center;
}

.table_format{
  text-align: center;
  font-size: 20px;
  color: #000000;
  font-family: "Times New Roman", Times, serif;
}